@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

* {
    font-family: Raleway;
    width: 95%;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../images/byui.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0;
}

.course-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    color: white;
    padding-top: 2.5%;
}

.course-name2 {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    color: white;
    padding-bottom: 4%;
}

.profile {
    height: 10em;
    width: 11em;
    margin: 15px;
    border-radius: 50%;
    float:left;
    margin-left: 3em;
}

.main-nav {
    font-size: larger;
    margin: 0;
}

.main-nav ul li {
    padding-bottom: .5em;
}

.divider {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

footer {
    display: block;
}

.main-footer {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../images/byui.jpg");
    background-blend-mode: multiply;
    background-position: 0;
}

.footer-info {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
}
